
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar li{
    margin: 10px;
}

.dropdown {
    position: relative;

}


.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #f8f9fa;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    min-width: 150px;
    z-index: 1000;
}

.dropdown:hover{
    background: #cccccc;
}
.submenu li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.submenu li a:hover {
    background: blue;
}

.dropdown:hover .submenu {
    display: block;
}
